<template name="priceLevelComponent">
    <div class="component-wrapper price-level-component">

        <h3>{{{_ 'component.priceLevel.title'}}}</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{{{_ 'component.priceLevel.table.head.col1'}}}</th>
                    <th>{{{_ 'component.priceLevel.table.head.col2'}}}</th>
                    <th>{{{_ 'component.priceLevel.table.head.col3'}}}</th>
                    <th>{{{_ 'component.priceLevel.table.head.col4'}}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{{_ 'component.priceLevel.table.row1.col1'}}}</td>
                    <td>{{{_ 'component.priceLevel.table.row1.col2'}}}</td>
                    <td>{{{_ 'component.priceLevel.table.row1.col3'}}}</td>
                    <td>{{{_ 'component.priceLevel.table.row1.col4'}}}</td>
                </tr>
                <tr>
                    <td>{{{_ 'component.priceLevel.table.row2.col1'}}}</td>
                    <td>{{{_ 'component.priceLevel.table.row2.col2'}}}</td>
                    <td>{{{_ 'component.priceLevel.table.row2.col3'}}}</td>
                    <td>{{{_ 'component.priceLevel.table.row2.col4'}}}</td>
                </tr>
                <tr>
                    <td>{{{_ 'component.priceLevel.table.row3.col1'}}}</td>
                    <td>{{{_ 'component.priceLevel.table.row3.col2'}}}</td>
                    <td>{{{_ 'component.priceLevel.table.row3.col3'}}}</td>
                    <td>{{{_ 'component.priceLevel.table.row3.col4'}}}</td>
                </tr>
                <tr>
                    <td>{{{_ 'component.priceLevel.table.row4.col1'}}}</td>
                    <td>{{{_ 'component.priceLevel.table.row4.col2'}}}</td>
                    <td>{{{_ 'component.priceLevel.table.row4.col3'}}}</td>
                    <td>{{{_ 'component.priceLevel.table.row4.col4'}}}</td>
                </tr>
                <tr>
                    <td>{{{_ 'component.priceLevel.table.row5.col1'}}}</td>
                    <td>{{{_ 'component.priceLevel.table.row5.col2'}}}</td>
                    <td>{{{_ 'component.priceLevel.table.row5.col3'}}}</td>
                    <td>{{{_ 'component.priceLevel.table.row5.col4'}}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>
